<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programcının günlüğü - Kayıt</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="header">
        <img src="../static/img/logo.svg" alt="logo" width="30" height="30">
        <ul class="main-list">

        </ul>
      </header>
      <main class="main-login">
        {% block content %}
        <form action="{{ url_for('reg') }}" method="post" class="login">
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            
            <h1 class="login-title">Hesap Oluştur</h1>
            
            <label for="email">
                <input class="form__input" type="email" name="email" id="email" placeholder="E-postanızı giriniz" required>
            </label>
            <label for="password">
                <input class="form__input" type="password" name="password" id="password" placeholder="Şifrenizi girin" required>
            </label>
            <label for="password_confirm">
                <input class="form__input" type="password" name="password_confirm" id="password_confirm" placeholder="Şifrenizi tekrar girin" required>
            </label>
            <button class="form__button">Hesap oluşturmak</button>
            <a href="/" class="form__button reg__link">Giriş Yap</a>
        </form>
        {% endblock %}
      </main>
      
      <style>
        .login-title {
            text-align: center;
            margin-bottom: 30px;
            color: #F8FAFC;
        }
        
        .error {
            background: #ef4444;
            color: white;
            padding: 12px;
            border-radius: 8px;
            margin-bottom: 20px;
            text-align: center;
        }
      </style>
</body>
</html>
